html,
body {
    height: 100%;
    width: 100%;
}

#root {
    height: 100%;
}

.text-align-right {
    text-align: right;
}

.text-align-center {
    text-align: center;
}

.tooltip-table {
    font-size: 11px;
}

table td {
    vertical-align: top;
}
